<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<!--показываем имя и возрасть выбранного человека-->
<p th:text="${stops.getName() + ', ' + stops.getAddress()}">VALUE</p>
<p th:text="${stops.getStopId()}">VALUE</p>

<!--при нажати на делете мы удалим этого человека-->
<form th:method="DELETE" th:action="@{/stops/{id}(id=${stops.getStopId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>