<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<!--исп forEach -->
<div th:each="drivers : ${driver}">
    <!--    ставим ссылку, вместе ид будет написано person.getId-->
    <a th:href="@{/drivers/{id}(id=${drivers.getDriverId()})}"
       th:text="${drivers.getName() +' '+drivers.getSurname+ ', ' + drivers.getAge()}">user</a>
    <!--       при нажати на имя и возрасть мы перейдем по выше указанной ссылке-->
</div>

<br/>
<hr/>
<!--ссылка на создание нового человека-->
<a href="/drivers/new">Create new driver</a>

</body>
</html>