<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<!--показываем имя и возрасть выбранного человека-->
<p th:text="${driver.getName() + ', ' + driver.getAge()}">VALUE</p>
<p th:text="${driver.getDriverId()}">VALUE</p>

<!--при нажати на делете мы удалим этого человека-->
<form th:method="DELETE" th:action="@{/people/{id}(id=${driver.getDriverId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>