<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<!--исп forEach -->
<div th:each="transport : ${transports}">
    <!--    ставим ссылку, вместе ид будет написано person.getId-->
    <a th:href="@{/transports/{id}(id=${transport.getTransportId()})}"
       th:text="${transport.getModel() + ' ' + transport.getNumber() + ' ' + transport.getTransportType().getName()}">transport</a>
    <!--       при нажати на имя и возрасть мы перейдем по выше указанной ссылке-->
</div>

<br/>
<hr/>
<!--ссылка на создание нового человека-->
<a href="/transports/new">Create new transport</a>

</body>
</html>